    <style>
        @import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Oswald:400,700');
        
        body {
            background-color: #ccc;
        }
        .registration-form {
            width: 300px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            font-family: "Oswald"; 
            background-color: white;
        }
		
		


        .registration-form h2 {
            text-align: center;
        }

        .registration-form label,
        .registration-form input {
            display: block; 
        }

		.gender-radio {
		display: flex;
		}

        .registration-form input[type="text"],
        .registration-form input[type="email"],
        .registration-form input[type="password"] {
            width: calc(100% - 20px);
            padding: 8px;
        }
        

        
       
        .registration-form input[type="submit"] {
            background-color: #04AA6D; /* Green */
            color: white;
        }


        .registration-form input[type="reset"] {
            background-color: #f44336; /* Red */
            color: white;
        }

        .registration-form input[type="submit"],
        .registration-form input[type="reset"] {
            margin-top: 20px;
        }
		
		.button-container {
		display: flex;
		justify-content: space-around;
		}
    </style>